# Build results
target
contracts/lending/target/*
contracts/cw20-legacy/target/*

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea
.vscode

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

artifacts

# Byte-compiled / optimized / DLL files
deploy-scripts/__pycache__/

# Mnemonic for wallet
deploy-scripts/mnemonic.txt

# pickle
deploy-scripts/*.p
